body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    text-align: center;
    width: 90%;
    max-width: 278px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    outline: none;
    transition: all 0.3s ease;
}
select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    outline: none;
    transition: all 0.3s ease;
}

select:hover, input {
    border-color: #888;
}

select:focus, input {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
select::-ms-expand {
    display: none;
}

select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3Cpath fill='%23333' d='M2 3L0 0h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 6px;
}